
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
.sec {
    color: #555;
    /* background: #222; */
    text-align: center;
    font-family: 'Roboto Mono';
    padding: 3.4em 1em 1em 1em;
    font-weight: normal;
}