*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body{
	  min-height: 100vh;
	  min-width: 750px;
	  /* background:#3c3838; */
	  overflow-x: hidden;
	  /* text-align: center; */
	  /* background: #222; */
	 
	  /* font-family: 'Cormorant Garamond', serif; */
	  /* font-family: 'Cormorant Garamond', serif; */
/* font-family: 'Great Vibes', cursive; */
  }
